#edit_user_container {
    height: 100vh;
    @include FlexCenter;
    flex-direction: column;

    h1 {
        margin: 4rem 0;
    }

    form {
        width: 50%;

        input {
            border-radius: 20px;
            padding: .7rem;
            transition: .1s;
            margin: 1rem 0;
        }

        input:hover {
            border-radius: 100px;
            border: orangered solid;
        }

        .btn {
            margin: 4px auto;
            @include FlexCenter;
        }

    }
}