#ingredient_container {
    @include FlexCenter;

    .tableau_ingredient {

        padding: 2rem;
        background-color: #fff;
        border-radius: 20px;
    }

}


// Form Add new ingredient

#form_container_ingredient {
    @include FlexCenter;
    flex-direction: column;

    form {

        input {
            border-radius: 20px;
            padding: .7rem;
            transition: .1s;
        }

        input:hover {
            border-radius: 100px;
            border: orangered solid;
        }

        .btn {
            margin: 4px auto;
            @include FlexCenter;
        }

    }
}