{% extends "base.html.twig" %}

{% block title %}
	SymRecipe - Modification de l'utilisateur
{% endblock %}

{% block body %}

	<div id="edit_user_container" class="container">

		<h1>Modification d'information</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{{form(form)}}

			<a href="{{ path ('user.delete', { id: user.id }) }}" class="btn btn-danger">Supprimer votre compte</a>
		</div>

	{% endblock %}
