{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_errors(registrationType) }}

	{{ form_start(registrationType) }}

	{{ form_end(registrationType) }}
{% endblock %}
